.coffeeLine {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    padding-top: 12px;
    background-color: white;
    z-index: 1;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin: 0 10px;
}

.footer {

}

.h1 {
    font-size: 2em;
}
